html, body {
    height: 100%; /*is necessary for the background image, if any*/
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 62.5%; /*1em=10px, base font=10px*/
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

code, tt {
    font-size: 1.1em; /*increase by 10%*/
}

a {
    color: #5089F1;
    text-decoration: none;
}
a:hover {
    color: #2552C6;
    text-decoration: underline;
}


.w3-center {
    text-align: center;
}


body.w3-doctype-transitional {}
body.w3-doctype-strict {}
body.w3-layout-zero-column {}
body.w3-layout-one-column {}
body.w3-layout-two-column {}
body.w3-layout-three-column {}
body.w3-layout {}
body.w3-layout-content {}
body.w3-layout-sidebar1 {}
body.w3-layout-sidebar2 {}
body.w3-layout-sidebar1-content {}
body.w3-layout-sidebar1-sidebar2 {}
body.w3-layout-content-sidebar2 {}
body.w3-layout-sidebar1-content-sidebar2 {}


.w3-document-container {}


.w3-header {}

.w3-header .w3-logo {}
.w3-header .w3-logo h1, .w3-logo h1 a {
    color: #555;
    font-family: cursive;
    font-size: 1.6em;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.w3-header .w3-main-menu-box {}
.w3-header .w3-main-menu {}
.w3-header .w3-main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.w3-header .w3-main-menu ul li {
    float: left;
    margin: 0 0 0 .3em;
    padding: 0;
}
.w3-header .w3-main-menu ul li.w3-first {
    margin-left: 0;
}
.w3-header .w3-main-menu ul li a {
    display: block;
    /*line-height: 1.3;*/
    padding: .4em .8em;
}
.w3-header .w3-main-menu ul li a:hover {
    text-decoration: none;
}


.w3-top {}
.w3-top .w3-top-item {
    margin-top: 1.6em;
}
.w3-top .w3-top-item.w3-first {
    margin-top: 1.5em;
}
.w3-user-flash-top-summary-box {}
.w3-user-flash-top-summary {
    margin: 0 4.5em;
    padding: .7em .6em;
}


.w3-user-flash-top-summary ul,
.w3-user-flash-sidebar-summary ul,
.w3-user-flash-content-summary ul {
    margin-top: .2em;
    margin-bottom: .2em;
}


.w3-center-container {
    margin-top: 1.6em;
}


.w3-sidebar {}
.w3-sidebar.w3-sidebar1 {}
.w3-sidebar.w3-sidebar2 {}
.w3-sidebar .w3-sidebar-item {
    margin-top: 1.6em;
}
.w3-sidebar .w3-sidebar-item.w3-first {
    margin-top: 0;
}
.w3-user-flash-sidebar-summary-box {}
.w3-user-flash-sidebar-summary {
    padding: .7em .6em;
}


.w3-content {}
.w3-content .w3-content-item {
    margin-top: 1.6em;
}
.w3-content .w3-content-item.w3-first {
    margin-top: 0;
}
.w3-user-flash-content-summary-box {}
.w3-user-flash-content-summary {
    padding: .7em .6em;
}

.w3-content ul.w3-breadcrumbs {
    border-bottom: 1px solid #CCCCCC;
    list-style: none;
    margin: 0 0 .5em 0;
    padding: 0 0 .1em 0;
}
.w3-content ul.w3-breadcrumbs li {
    color: #555;
    display: inline;
    font-size: 1.1em;
    margin: 0;
    padding-left: .2em;
}
.w3-content ul.w3-breadcrumbs li.w3-first {
    padding-left: 0;
}
.w3-content ul.w3-breadcrumbs li a {
    color: #888;
}
.w3-content ul.w3-breadcrumbs li a:hover {
    color: #555;
    text-decoration: none;
}
.w3-content ul.w3-breadcrumbs li.w3-active a {
    color: #555;
}
.w3-content ul.w3-breadcrumbs li a span {
    color: #888;
    padding-left: .3em;
}

.w3-content h1.w3-page-label {
    color: #444;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
}
/*space between page-label and the rest of the content*/
.w3-content .w3-after-page-label {
    height: 1.4em;
}


.w3-content .w3-pre-item-action-bar {
    float: right;
    margin-bottom: .6em;
    /*margin-bottom: 2.9em;*/ /*without float right: height of links = ~1.5+.4+.4=2.3; 0.6 is space between pre-grid & grid*/
}
.w3-content .w3-pre-item-action-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.w3-content .w3-pre-item-action-bar ul li {
    float: left;
    margin: 0 0 0 .3em;
    padding: 0;
}
.w3-content .w3-pre-item-action-bar ul li.w3-first {
    margin-left: 0;
}
/*inspired from http://jqueryui.com/themeroller/ 'Open Dialog' link*/
.w3-content .w3-pre-item-action-bar ul li a {
    display: block;
    padding: .4em 1em;
}
.w3-content .w3-pre-item-action-bar ul li a.w3-with-icon-left {
    padding-left: 20px; /*icon's size is 16px*/
}
.w3-content .w3-pre-item-action-bar ul li a.w3-with-icon-right {
    padding-right: 20px; /*icon's size is 16px*/
}
/*.w3-content .w3-pre-item-action-bar ul li a:hover {
    text-decoration: none;
}*/


.w3-content h2.w3-regular {
    color: #222;
    font-size: 1.8em;
}
.w3-content h3.w3-regular {
    color: #222;
    font-size: 1.4em;
}


.w3-content .w3-detail-box {
    padding: 1em 1.4em; /*just like ui-tabs-panel*/
}

.w3-content .w3-detail-box .w3-detail-row {
    margin-top: .8em;
}
.w3-content .w3-detail-box .w3-detail-row.w3-first {
    margin-top: 0;
}

/* left cell */
.w3-detail-box .w3-detail-row .w3-detail-row-label {
    /*color: #222222 is from ui-widget-content*/
    float: left;
    font-family: sans-serif; /*is default in most browsers*/
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 12em;
}

/* right cell */
.w3-detail-box .w3-detail-row .w3-detail-row-value {
    float: left;
    font-size: 1.2em;
    margin-left: 1em;
}


.w3-content .w3-list .w3-item {
    padding: .8em 1.1em; /*almost detail-box*/
}

.w3-content .w3-list .w3-item {
    font-size: 1.2em;
    margin-top: .8em;
}
.w3-content .w3-list .w3-item.w3-first {
    margin-top: 0;
}


/* form and main-form are looking the same... differentiate it for novices*/
.w3-content .w3-main-form-box {
    padding: 1em 1.4em; /*just like ui-tabs-panel*/
}
.w3-content .w3-form-box {
    padding: 1em 1.4em;
}

.w3-main-form-box .w3-main-form {}
.w3-main-form-box .w3-form {}

.w3-main-form .w3-form-row, .w3-form .w3-form-row {
    margin-top: .8em;
}
.w3-main-form .w3-form-row.w3-first, .w3-form .w3-form-row.w3-first {
    margin-top: 0;
}

/* left cell */
.w3-form-row .w3-form-row-label {
    float: left;
    font-family: sans-serif; /*is default in most browsers*/
    font-size: 1.2em; /*12px. 13 is boring*/
    padding: .5em 0 .1em;
    text-align: right;
    width: 12em;
}

/* right cell */
.w3-form-row .w3-form-row-input {
    float: left;
    margin-left: 1em;
}
/* 2 cells */
.w3-form-row .w3-form-row-input.w3-form-row-2columns {
    float: none;
    margin-left: 0;
}
.w3-form-row .w3-form-row-input .w3-form-row-text {
    font-size: 1.2em;
}
.w3-form-row .w3-form-row-input input.w3-input-text,
.w3-form-row .w3-form-row-input select.w3-input-text,
.w3-form-row .w3-form-row-input textarea.w3-input-text {
    font-size: 1.3em;
}
.w3-form-row .w3-form-row-input .w3-form-row-text input.w3-input-text,
.w3-form-row .w3-form-row-input .w3-form-row-text select.w3-input-text,
.w3-form-row .w3-form-row-input .w3-form-row-text textarea.w3-input-text {
    font-size: 1.08333em;
}

.w3-form-row-input input.w3-input-text,
.w3-form-row-input select.w3-input-text,
.w3-form-row-input textarea.w3-input-text {
    font-family: cursive;
    padding: .3em;
    width: 16em;
}
.w3-form-row-input select.w3-input-text {
    width: 16.7em; /*.7 in ff, .75 in ie, .65 in chrome*/
}
.w3-form-row-input input.w3-input-text.w3-input-w25percents,
.w3-form-row-input select.w3-input-text.w3-input-w25percents,
.w3-form-row-input textarea.w3-input-text.w3-input-w25percents {
    width: 4em;
}
.w3-form-row-input select.w3-input-text.w3-input-w25percents {
    width: 4.7em;
}
.w3-form-row-input input.w3-input-text.w3-input-w50percents,
.w3-form-row-input select.w3-input-text.w3-input-w50percents,
.w3-form-row-input textarea.w3-input-text.w3-input-w50percents {
    width: 8em;
}
.w3-form-row-input select.w3-input-text.w3-input-w50percents {
    width: 8.7em;
}
.w3-form-row-input input.w3-input-text.w3-input-w200percents,
.w3-form-row-input select.w3-input-text.w3-input-w200percents,
.w3-form-row-input textarea.w3-input-text.w3-input-w200percents {
    width: 32em;
}
.w3-form-row-input select.w3-input-text.w3-input-w200percents {
    width: 32.7em;
}
/* manage-content-form have default font-family to look similar to the end look (on the post page) */
.w3-mc-form .w3-form-row-input input.w3-input-text
.w3-mc-form .w3-form-row-input select.w3-input-text
.w3-mc-form .w3-form-row-input textarea.w3-input-text {
    font-family: sans-serif;
}

.w3-form-row-input .w3-input-button {
    cursor: pointer;
    padding: .3em 1em;
}
.w3-form-row-input .w3-input-button.w3-button-big {
    font-size: 1.5em; /*10*1.5=15*/
    padding: .4em 1.1em;
}
.w3-form-row-input .w3-form-row-text .w3-input-button.w3-button-big {
    font-size: 1.25em; /*10*1.2*1.25=15*/
}


/*space between 2 items of the content*/
.w3-content .w3-between-boxes-big {
    height: 3.2em;
}
.w3-content .w3-between-boxes {
    height: 2em;
}
.w3-content .w3-between-boxes-small {
    height: 1.2em;
}


.w3-content .w3-grid-box .w3-grid-titlebar {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.w3-content .w3-grid-box .w3-grid-titlebar .w3-grid-title {
    float: left;
    padding: .4em .6em;
}
.w3-grid-box .w3-grid-titlebar .w3-grid-titlebar-buttons {
    float: right;
    padding: .2em;
}
.w3-grid-titlebar .w3-grid-titlebar-buttons a.w3-grid-titlebar-close {
    display: block;
}
.w3-content .w3-grid-box .w3-grid {}
.w3-content .w3-grid-box .w3-grid .w3-grid-columns-row th {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    padding: .5em .4em;
}
.w3-content .w3-grid-box .w3-grid .w3-grid-row td {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    padding: .2em;
}
a.w3-ig.w3-link-icon {
    /*display: block;*/
    float: left;
    /*height: 16px;*/
    /*width: 16px;*/
}

.w3-content .w3-grid-box .w3-grid-pager {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    height: 2.3em; /*25px*/
    overflow: hidden;
    /*white-space: nowrap;*/
}
.w3-content .w3-grid-box .w3-grid-pager .w3-left-column {
    float: left;
    font-weight: normal;
    padding-left: .1em;
    padding-top: .4em;
}
.w3-content .w3-grid-box .w3-grid-pager .w3-right-column {
    float: right;
    font-weight: normal;
    padding-right: .5em;
    padding-top: .4em;
}

.w3-content .w3-grid-box ul.w3-pager {
    margin: 0;
    padding: 0;
    display: inline;
}
.w3-content .w3-grid-box ul.w3-pager li {
    display: inline;
}
.w3-content .w3-grid-box ul.w3-pager a:link,
.w3-content .w3-grid-box ul.w3-pager a:visited {
    font-weight: bold;
    padding: .1em .5em;
    text-decoration: none;
}
.w3-content .w3-grid-box ul.w3-pager .page a {
    font-weight: normal;
}
.w3-content .w3-grid-box ul.w3-pager .selected a {
    font-weight: bold;
}
.w3-content .w3-grid-box ul.w3-pager .first,
.w3-content .w3-grid-box ul.w3-pager .last {
    display: none;
}


.w3-link-list-box {}
.w3-link-list.w3-titlebar {
    height: 21px; /*1.9em*/
    overflow: hidden;
    white-space: nowrap;
}
.w3-link-list.w3-title {
    padding: .3em .5em;
}
.w3-link-list.w3-titlebar-button-box {
    position: relative;
}
.w3-link-list.w3-titlebar-button {
    position: absolute;
    right: .2em;
    top: .2em;
}
.w3-link-list.w3-titlebar-close {
    display: block;
}
.w3-link-list ul {
    margin: 0.4em 0.5em;
    padding: 0;
}
.w3-link-list ul li {
    list-style: none;
}
.w3-link-list ul a {
    border: 1px dashed transparent;
    display: block;
    padding: .3em 0 .3em 2em;
}
.w3-link-list ul a:hover {
    font-weight: normal;
    text-decoration: none;
}
.w3-link-list ul a span.w3-inner-icon-left {
    margin-top: -2px;
}


.w3-bottom {}


.w3-footer-box {
    margin: 2.2em 0 .4em 0;
}
.w3-footer {
    border-top: 1px solid #ddd;
    font-size: 1.1em;
    text-align: center;
    padding-top: .7em;
}


.w3-widget {
    font-size: 1.2em; /*1.3em*/
}

.w3-hidden {
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width:1px;
}

.w3-border-1px-transparent {
    border: 1px dashed transparent;
}

.w3-icon-left {
    float: left;
    margin-right: .3em;
}

.w3-inner-icon-box {
    display: block;
    position: relative;
}
.w3-inner-icon-left {
    margin-left: -18px; /*in the middle between the link text and the left border*/
    margin-top: -1px;
    position: absolute;
}
.w3-inner-icon-right {
    position: absolute;
    right: -18px; /*in the middle between the link text and the right border*/
}

.w3-position-absolute {
    position: absolute;
}
.w3-position-relative {
    position: relative;
}